body {
    background-color:lightyellow;padding: 0;margin: 0;}

body > a {position: absolute;bottom: 0;}

header nav {
    background-color: grey;
    margin-top: 40px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#menu-header {
    width: 18%;
    display: flex;
    justify-content: space-between;
}
header nav > img:first-child {
    height: 170px;
    top: 0px;
    position: relative;
    z-index: 1;
}
header nav div a {color: white;text-decoration: none;}

header nav div input:first-child {
    height: 30px;
    border: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    
}
.formulaire {font-size: 28px;}


#main-section {
    margin: 25px 10% 0 10%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 5px 1px gray;
}
h2:first-child {
    background-color:red;
    position: absolute;
    color: white;
    width: 80%;
    padding: 5px 0;
    margin: 0;
}
#section-div-2 {
    width: 70%;
    margin: 8px 15px;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}
#right {
    margin-top: 35px;
    margin-right: 5px;
    width: 40%;
}
.div {
    background-color:white;
    padding: 10px 10px 0 10px;
    padding-bottom: 10px;
}
#pecture-img {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#pecture-img img {height: 50px;}

.right-second {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.right-second div {display: flex;}

.right-second div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.right-second div img {height: 50px;}

.right-second div div a {color: red;text-decoration: none;}

.right-second div div span {c}
/* <header>
        <nav>
            <img src="./picutre/logo_tchat.png">
            
        </nav>
        <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </header>
    <div id="first-carre">
            <form class="groupe-info">
                <div class="form-group">
                      <label for="exampleInputEmail1">Login</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    
                    <div class="form-group form-check">
                       <button type="submit" class="btn btn-primary">connexion</button>
                       <button type="button" class="btn-primary">Block level button</button>
                    </div>
                   
            </form>
    </div>*/